.people-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
}
.people-links {
  padding: 2rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}
.people-links-h3 {
  padding: 2rem;
}

.people-links:hover {
  color: #555;
}

.people-list {
  width: auto;
  height: 100%;
  /* border: 3px solid rgb(0, 0, 0); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 15px 10px;
  column-gap: 15px;
  padding: 0.1rem;
}
.people-list-item {
  width: 90%;
  height: 5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  /* border: 3px solid rgb(0, 0, 0); */
}

.person-card-container {
  margin: 2rem;
}

.person-card {
  margin: auto;
  padding: 2rem;
  border: 3px solid #555;
  height: auto;

  width: 50%;
}
.person-card,
li {
  list-style: none;
}
.searchField-div {
  padding: 1rem;
}
.searchField {
  width: 40%;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
}
