.people-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
}
.people-links {
  padding: 2rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}
.people-links:hover {
  color: #555;
}

.people-list {
  width: auto;
  height: 100%;
  border: 3px solid #555;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  justify-items: start;
  grid-gap: 15px 10px;
}
.people-list-item {
  width: 90%;
  height: 5rem;
  padding: 1rem;
  text-decoration: none;
  color: #444;
  font-weight: 700;
  font-size: 1.5rem;
  border: 3px solid #555;
}

.person-card-container {
  margin: 2rem;
}

.person-card {
  margin: auto;
  padding: 2rem;
  border: 3px solid #555;
  height: auto;

  width: 50%;
}
